# Task 2 for data science capstone project - Anthony

# 1. Copying the work done before in Task 1

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(page.content, 'html.parser')

In [3]:
table = soup.find('tbody')
rows = table.select('tr')
row = [r.get_text() for r in rows]

In [12]:
df = pd.DataFrame(row)
df1 = df[0].str.split('\n', expand=True)
df2 = df1.rename(columns=df1.iloc[0])
df3 = df2.drop(df2.index[0])
df3.head()

    Postal Code             Borough                Neighbourhood
1           M1A        Not assigned                 Not assigned
2           M2A        Not assigned                 Not assigned
3           M3A          North York                    Parkwoods
4           M4A          North York             Victoria Village
5           M5A    Downtown Toronto    Regent Park, Harbourfront

In [13]:
df4 = df3[df3.Borough != 'Not assigned']
df4.head()

,,Postal Code,,Borough,,Neighbourhood,
3,,M3A,,North York,,Parkwoods,
4,,M4A,,North York,,Victoria Village,
5,,M5A,,Downtown Toronto,,"Regent Park, Harbourfront",
6,,M6A,,North York,,"Lawrence Manor, Lawrence Heights",
7,,M7A,,Downtown Toronto,,"Queen's Park, Ontario Provincial Government",

In [14]:
df5 = df4.groupby(['Postal Code', 'Borough'], sort = False).agg(','.join)
df5.reset_index(inplace = True)
df5.head()

,Postal Code,Borough,,,,Neighbourhood,
0,M3A,North York,,,,Parkwoods,
1,M4A,North York,,,,Victoria Village,
2,M5A,Downtown Toronto,,,,"Regent Park, Harbourfront",
3,M6A,North York,,,,"Lawrence Manor, Lawrence Heights",
4,M7A,Downtown Toronto,,,,"Queen's Park, Ontario Provincial Government",

In [15]:
df5.shape

(103, 7)

# 2. Using the csv file provided by Coursera

In [9]:
url = "http://cocl.us/Geospatial_data"
df6 = pd.read_csv(url)
df6.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# 3. Combining the two Data Frames (df5 and df6) as latandlong

In [17]:
latandlong = pd.merge(df5, df6, on='Postal Code')
latandlong.head(12)

,Postal Code,Borough,,,,Neighbourhood,,Latitude,Longitude
0,M3A,North York,,,,Parkwoods,,43.753259,-79.329656
1,M4A,North York,,,,Victoria Village,,43.725882,-79.315572
2,M5A,Downtown Toronto,,,,"Regent Park, Harbourfront",,43.654260,-79.360636
3,M6A,North York,,,,"Lawrence Manor, Lawrence Heights",,43.718518,-79.464763
4,M7A,Downtown Toronto,,,,"Queen's Park, Ontario Provincial Government",,43.662301,-79.389494
5,M9A,Etobicoke,,,,"Islington Avenue, Humber Valley Village",,43.667856,-79.532242
6,M1B,Scarborough,,,,"Malvern, Rouge",,43.806686,-79.194353
7,M3B,North York,,,,Don Mills,,43.745906,-79.352188
8,M4B,East York,,,,"Parkview Hill, Woodbine Gardens",,43.706397,-79.309937
9,M5B,Downtown Toronto,,,,"Garden District, Ryerson",,43.657162,-79.378937
10,M6B,North York,,,,Glencairn,,43.709577,-79.445073
11,M9B,Etobicoke,,,,"West Deane Park, Princess Gardens, Martin Grov...",,43.650943,-79.554724